.nameOptions {
  width: 40%;
  margin-right: 20px;
  display: inline-block;
}

.sizeOptions{
  width: 40%;
  display: inline-block;
  margin-left: 74px;
}

.toppings input{
  margin: 5px;
}

.hide {
  display: none;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

form#order-form {
  padding: 3rem;
}

.page-header {
  background-image: url(../img/banner.jpg);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 123px;
}

.text-back-color{
  background-color: rgba(126, 90, 40, 0.76);
  color: #f1eeee;
}

.panel {
  width: 46%;
  padding-bottom: 5px;
}

.container .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn-group {
  margin-left: 105px;
  margin-bottom: 7px;
}

.return1 {
  margin-right: 15px;
}
